/*CARD*/
.card-container {
  width: 450px;
  padding: 50px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}
.card-body {
  background-color: #d3d3d3;
  border: 1px solid #808080;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #5e5b5b;
}
.card-text {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1.5rem;
  border-top: 1.5px solid green;
}
.card-text h3 {
  font-size: 40px;
}
.card-img {
  width: 200px;
}
.button {
  margin-top: 10px;
}
.addToCartBtn {
  border-radius: 10px;
  background-color: green;
  border: green;
  color: #ebe5e5;
  padding: 10px;
  font-size: 1.3rem;
}
.addToCartBtn:hover {
  transition: 0.8s;
  background-color: #5ab102;
  color: #5e5b5b;
}
/*END CARD*/