.cart-icon{
  margin: 0px 20px 0px 0px; 
}

.cart-icon a {
  color: antiquewhite;
  position: relative;
}

.cart-icon span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  line-height: 0px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 10px;
}

.cart-icon p{
  line-height: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}