.card-body {
  font-size: 1.2rem;
  padding: 10px;
}

.title-recipe {
  font-size: 2rem;
  margin-top: 10px;
}

.content-info {
  font-size: 1.3rem;
}

.time-dif {
  margin-top: 10px;
}

.short-info {
  margin: 10px, 0px, 10px, 0px;
}

.btnView {
  font-size: 1.2rem;
}