<div class="container">
  <div class="card text-center" style="width: 40rem;">
    <img src="../../assets/img/img-store.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="title-recipe">Helado de Coca cola</h3>
      <div>
        <p class="ingredients-title"><i class="fa-solid fa-arrow-right-long"></i> Que nesecito?</p>
        <ul>
          <li class="ingredients"><i class="fa-solid fa-check"></i> Coca cola</li>
          <li class="ingredients"><i class="fa-solid fa-check"></i> Crema</li>
          <li class="ingredients"><i class="fa-solid fa-check"></i> Freezer</li>
        </ul>
      </div>
      <div>
        <p class="description-title"><i class="fa-solid fa-arrow-right-long"></i> Como lo hacemos?</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>