<nav class="navbar navbar-expand-lg nav-style">
  <div class="container-fluid nav-style">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/img/natu-logo.png" class="img-fluid" alt="" width="250" height="150">
    </a>
    
    <button class="navbar-toggler nav-style" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon nav-style"></span>
    </button>
    <div class="collapse navbar-collapse content-buttons" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 col-md-12 d-flex justify-content-end nav-style">
        <li class="nav-item">
          <a class="nav-link nav-style" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-style" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/recetas">Recetas</a>
        </li>
        <li class="nav-item dropdown nav-style">
          <a class="nav-link dropdown-toggle nav-style" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Login
          </a>
          <ul class="dropdown-menu nav-style" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item nav-style" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/tienda">Tienda</a></li>
            <li><hr class="dropdown-divider nav-style"></li>
            <li><a class="dropdown-item nav-style" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/carrito">Carrito</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <app-cart-icon></app-cart-icon>
</nav>
