<div class="container">
  <form class="row" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 col-6">
      <label for="firstName" class="form-label">{{ fieldLabels.FIRSTNAME }}</label>
      <input id="firstName" formControlName="firstName" class="form-control form-control-sm form-input" type="text" placeholder="Nombre" aria-label=".form-control-sm example">
      <div *ngIf="hasError( 'firstName' )">
        <p class="color-required">{{ errorMessages.REQUIRED_FIRSTNAME }}</p>
      </div>
    </div>
    <div class="mb-3 col-6">
      <label for="lastName" class="form-label">{{ fieldLabels.LASTNAME }}</label>
      <input id="lastName" formControlName="lastName" class="form-control form-control-sm form-input" type="text" placeholder="Apellido" aria-label=".form-control-sm example">
      <div *ngIf="hasError( 'lastName' )">
        <p class="color-required">{{ errorMessages.REQUIRED_LASTNAME }}</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">{{ fieldLabels.EMAIL }}</label>
      <input id="email" formControlName="email" type="email" class="form-control form-control-sm form-input" id="exampleFormControlInput1" placeholder="tunombre@ejemplo.com">
      <div *ngIf="hasError( 'email' )">
        <p class="color-required">{{ errorMessages.REQUIRED_EMAIL }}</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="textarea" class="form-label">{{ fieldLabels.MESSAGE }}</label>
      <textarea id="textarea" formControlName="textArea" class="form-control form-control-sm form-input" id="exampleFormControlTextarea1" rows="3"></textarea>
      <div *ngIf="hasError( 'textArea' )">
        <p class="color-required">{{ errorMessages.REQUIRED_MESSAGE }}</p>
      </div>
    </div>
    <button type="submit" class="btn btn-form">{{ fieldLabels.BTN_SUBMIT }}</button>
  </form>
  <div class="mt-2 mb-1">
  </div>
</div>