.background-recipe {
  width: 100%;
  background-image: url(/assets/img/bg-store.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}

.recipes-title {
  margin-bottom: 60px;
  text-align: center;
}

.recipes-title h2 {
  font-size: 80px;
}

.recipes-title p {
  font-size: 40px;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}