.background-recipe {
  width: 100%;
  background-image: url(/assets/img/bg-store.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.recipes-title {
  margin-bottom: 20px;
  text-align: center;
}

.recipes-title h2 {
  font-size: 50px;
}

.recipes-title p {
  font-size: 25px;
}

.cardRecipe {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
